<html>

<body>
	<header>About</header><br>
	<!--This page will explain how the site works, and link to each explanation. For now, it's an 'infographic'-->
	
	<%= image_tag "mockup.png", {:height => 600} %>

	
	
</body>
</html>