<html>

<body>
	<header>About</header>
	<!--This page will explain how the site works, and link to each explanation. For now, it's an 'infographic'-->
	
	<img src="assets/images/mockup.png" />
	
	
</body>
</html>