<html>

<body>

	<header>Gr8pic</header><br />
	<h1>Upload your photo. Browse & rate the rest. See today's best one!</h1>

	<div class="main_container"> <!--main container for rate button
main picture, and upload button -->


	<div id="wrapper">
	 <ul>
		<li><div class="button"> <%= link_to "RATE", photos_path %> </div></li>
		<li><div><a href="/rate"><img src="http://www.placekitten.com/400/300" /></a></div></li>
		<li><div class="button"> <%= link_to "UPLOAD", new_photo_path %></div></li>
   </ul>
	</div>
</div>

	<footer>
		<div class="button"> <a href="welcome/about">ABOUT</a><div>
	</footer>	


</body>
</html>