<html>

<body>

	<header>Gr8pic</header><br />
	<h1>Upload your photo. Browse & rate the rest. See today's best one!</h1>

	<div class="main_container"> <!--main container for rate button
main picture, and upload button -->
	<div id="wrapper">

		<li><div class="button"> <a href="/ratings">RATE</a></div></li>
		<li><div><a href="/rate"><img src="http://www.placekitten.com/600/400" /></a></div></li>
		<li><div class="button"> <a href="/form">UPLOAD</a></div></li>

	</div>
</div>

	<footer>
		<div class="button"> <a href="/about">ABOUT</a><div>
	</footer>	


</body>
</html>