<html>
<body>

	<header>Gr8pic</header><br />
	
	<h1>Upload your photo. Browse & rate the rest. See today's best one!</h1>

	<div class="main_container"> <!--main container for rate button
main picture, and upload button -->
		<div>
			
				<li><div class="button"> <%= link_to "RATE", new_rating_path %> </div></li>
				<li><div> <%= image_tag @winning_photo.image.url, {:height => 500} %> </div></li>
				<li><div class="button"><%= link_to "UPLOAD", new_photo_path %></div></li>
		
		</div>
	</div>

	

</body>
</html>