<h1>Ratings</h1>

<div id="wrapper">
	<p>Yesterday's highest rated photo is:</p>
	<ul>
		<li>Photo ID: <%= @winningPhoto.id %></li>
		<li>User ID: <%= @winningPhoto.user_id %></li>
		<li>User Name: <%= @winningUser %></li>
	</ul>

</div>
