<h1>Photos (to browse and rate)</h1>

<div id="wrapper">
	<p>Random photo generated below...now rate it</p>
	<p>Photo ID: <%= @photo.id %></p>

<li><div class="button"> <%= link_to "HISTORY", ratings_path %> </div></li>
</div>



