<h1>Photos#new</h1>
<p>New Photo Form Here</p>

<%= email_field(:user, :email, :placeholder => "email address") %>

<% if 3 > 4 %> <!-- if user is new, display signup form -->
<%= render "signup_form" %>
<% end %>