/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: url('/diag_txtr.png');

	/*font-family: 'Open Sans', sans-serif; <--old font*/
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	text-align: center;
}

header {
  text-align: center;
	color: #ED1111;
	font-size: 40px;
	font-weight: 800;
	margin-top: 2%;
}

h1 {
	color: #534F9E;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.button {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  /**margin-left: .3em;*/
  font-size: 18px;
  line-height: 30px;
  *line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.form_container li {
  display: inline-block;
  position: relative;
  padding: 1%;
  margin-top: 5%;
}

.main_container {
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.small_font {
  font-size: 0.75em;
}

/*#wrapper {
  margin-top: 2%;
}*/

li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 1%;
}

footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

a {
	text-decoration: none;
	color: #5F7A65;
}

/*-----------------------------------------------MEDIA SCREEN----------------------------------*/


@media screen and (min-width: 801px) and (max-width: 1150px) {
  .main_container img {
    width: 500px;
    height: auto;
  }

  #wrapper li {
    display: inline;
  }

  .button {
    margin: 1%;
  }

}
@media screen and (min-width: 481px) and (max-width: 800px) {
	.main_container img {
		width: 400px;
    height: auto;
	}
  li {
    display: inline;
  }

  .button {
    margin: 1%;
  }
}
@media screen and (max-width: 480px) {
	.main_container img {
		width: 240px;
    height: auto;
	}
  li {
    display: inline;
  }

  .button {
    margin: 1%;
  }

}

















